<section>
   <div class="card">
        <h1>{{restaurant_name}}</h1>
      </div>
      <div class="card">{{description}}</div>
</section>
<br>
<section>
  <div id="reviewHeaders" class="card">
   <h3>Title: </h3>
    <p><div class="cardbody">{{review.title}}</div></p>
    <br>
    <h3>Review: </h3>
    <p><div class="cardtext">{{review.text}}</div></p> 
    <br>
    {{!-- <a href="/dashboard/{{review.id}}">Edit Review</a> --}}
  </div>
</section>