<section class="card">
  <div class="card">
    <h1>{{restaurant_name}}</h1>
  </div>
  <div class="card">{{description}}</div>
</section>
<br />
<section>
  {{#each reviews as |review|}}
    <div id="reviewHeaders" class="card">

      <div class="flex">
        <h3>Title: </h3>
        <p><div class="cardbody">{{review.title}}</div></p>

      </div>
      <br />
      <h3>Review: </h3>
      <p><div class="cardtext">{{review.text}}</div></p>
      <br />
      <a href="/dashboard/{{review.id}}" class="login-btn">Edit Review</a>
    </div>

  {{/each}}
</section>
<br />

<section>
  <form action="" method="post" class="card review-form" id="review-form">
    <div class="flex">
      <label for="review-title" class="label">Enter a title for your review</label>
      <input
        type="text"
        name="review-title"
        class="input"
        placeholder="Review Title"
        id="title"
      />
    </div>

    <div class="flex">
      <label for="review-text" class="label">Type your review</label>
      <textarea
        type="text"
        name="review-text"
        placeholder="Review text"
        class="input"
        id="text"
      ></textarea>
    </div>
    <button type="submit" class="login-btn">Submit Review</button>
  </form>
  <script src="/js/review.js"></script>
  <script src="/js/editReview.js"></script>
</section>

{{!-- <section>
  <form action="" method="delete" class="card review-form" id="review-form">

    <div class="flex">
     <button id="delete-res" type="submit" class="login-btn">Delete {{restaurant_name}}</button> 

    </div>

  </form>
  <script src="/js/deleteRestaurant.js"></script>

</section> --}}