<section id="restaurants">
  <div id="restaurants-container">
    <h2 class="card card-restaurants">
      Restaurants
    </h2>
    
    {{#each restaurants as |restaurant|}}
    <div class="indiv-restaurant">
      <div id="restaurants-header">

      </div>

      <div class="card" id="restaurant">

        <h3>{{restaurant_name}}</h3>

        <p>
          {{restaurant.description}}
        </p>

      </div>
      <div id="reviewButton" class="flex">
        <a href="/api/restaurants/{{restaurant.id}}" class="login-btn">Leave a
          review for
          {{restaurant_name}}</a>
        <a
          href="/dashboard/edit/{{restaurant.id}}"
          class="login-btn"
          id="edit-res"
        >Edit
          {{restaurant_name}}</a>
          </div>
    </div>
    </div>
    {{/each}}
    
    <section>
      <form
        action=""
        method="post"
        class="card restaurant-form"
        id="restaurant-form"
      >
        <div class="flex">
          <label for="restaurant-name" class="label">Name of Restaurant</label>
          <input
            type="text"
            name="restaurant-name"
            class="input"
            placeholder="Restaurant Name"
            id="title"
          />
        </div>

        <div class="flex">
          <label for="restaurant-description" class="label">Description of
            Restaurant</label>
          <textarea
            type="text"
            name="restaurant-description"
            placeholder="Restaurant Description"
            class="input"
            id="text"
          ></textarea>
        </div>
        <button type="submit" class="login-btn add-btn">Add Restaurant</button>
      </form>
      <script src="/js/add-restaurant.js"></script>
    </section>

  </div>

</section>